<form method="get" action="api/user">
        <div class="mb-3">
        <label for="iName" class="form-label">İsim</label>
            <input type="text" class="form-control" id="iName" aria-describedby="iName">
            <div id="iName" class="form-text">adınız.</div>
        </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
  </form>